* {
    margin: 0;
    padding: 0;
}



.grid-container-gold {
    display: grid;
    /* width: 500px; */
    grid-template-columns: 100px 50px 150px 25%;
    /* คอลัมแรก 100px  คอลัมสอง 50px  คอลัมสาม 150px อันนี้เรากำหนดแค่4คอลัมน์สามารถกำหนดเพิ่มได้*/
    grid-template-rows: 50px 100px;
    /* เหมือนกับด้านบนเลย */
    
    background: gold;
    padding: 1em;
}

.grid-items {
    border: 1px solid red;
}


.grid-container-sky {
    display: grid;
    
    grid-template-columns: minmax(auto, 50%) 1fr 2fr;
    /* คอลัมแรก กล้างสุด50% คอลัมสอง 1ส่วน คอลัมสาม 2ส่วน */
    grid-template-rows: minmax(100px, auto) 50px;
    /* เหมือนกับด้านบนเลย */
    
    background: skyblue;
    padding: 1em;
}


.grid-container-repeat {
    display: grid;
    
    grid-template-columns: 50px repeat(3, 1fr) 50px;
    /*repeat 3 col 1fr เพิ่ม50px มาด้วยหมายความว่าทำซ้ำสามอันตรงกลาง*/
    grid-template-rows: repeat(6, 1fr);
    /* เหมือนกับด้านบนเลย  ใช้repeatแสดงเกินกว่าที่มีอยู่ได้แต่ไม่แสดงผลเพราะeleไม่พอ*/
    /* คำสั่ง repeat col, row ควรที่จะสัมพันธ์กัน */
    grid-gap: 10px 2em;
    /* gap-col 10px, gap-row 2em */
    background: forestgreen;
    padding: 1em;
}

.grid-container-start {
    display: grid;
    
    grid-template-columns:repeat(3, 1fr);
    /*repeat 3 col 1fr เพิ่ม50px มาด้วยหมายความว่าทำซ้ำสามอันตรงกลาง*/
    grid-template-rows:repeat(4, 100px);
    /* เหมือนกับด้านบนเลย  ใช้repeatแสดงเกินกว่าที่มีอยู่ได้แต่ไม่แสดงผลเพราะeleไม่พอ*/
    /* คำสั่ง repeat col, row ควรที่จะสัมพันธ์กัน */
    
    /* gap-col 10px, gap-row 2em */
    background: thistle;
    padding: 1em;
}

.grid1 {
    
    grid-column-start: 2;
    grid-column-end: 3;
    /* Shorthand grid-column: 2 / 3; */
    /* เริ่มคอลัมน์ที่2 จบคอลัมน์ที่3 */
    grid-row-start: 2;
    grid-row-end: 3;
    /* Shorthand grid-row: 2 / 3; */

    /* shorthand all-- grid-area: row-start, col-start, row-end, col-end */


    /* เริ่มโรวที่2 จบโรวที่3 */
    /* ตัวเลขให้คำสั่งนี้คือตัวเลขที่นับตามเส้น col, row */
    /* grid-column-start: 2;  อ่านว่า เริ่มgrid-col lineที่2*/
    /* เหมือนเป็นการกำหนดพิกัด */
}

.grid-container-shorthand {
    background: greenyellow;
    display: grid;

    grid-template-columns:repeat(3, 1fr);
    /*repeat 3 col 1fr เพิ่ม50px มาด้วยหมายความว่าทำซ้ำสามอันตรงกลาง*/
    grid-template-rows:repeat(5, 100px);
}

.grid12 {
    grid-column-start: 1;
    grid-column-end: 4;  
}

.grid11 {
    grid-row-start: 1;
    grid-row-end: 3;  

}

.grid10 {
    grid-row: 2 /span 3;
    grid-column: span 2;
}


.grid-container-name {
    background: fuchsia;
    display: grid;
    /* กำหนดคำสั่งชื่อ */
    grid-template-columns: [col-1-start] 1fr [col-2-start] 1fr [col-3-start] 1fr [col-3-end];
    grid-template-rows: [row-start row-1-start] 100px [row-1-end row-2-start] 100px [row-2-end];
    /* ถ้าใช้คำสั่ง repeat EX. grid-template-rows: repeat(4, [row-start] 100px [row-end])*/
    /* ถ้าใช้คำสั่ง repeat EX. grid-template-columns: repeat(3, [col-start] 1fr [col-end])*/
    /* เป็นการตั้งชื่อตามเส้น col */
}

.grid-1 {
    /* Ex-repeat name จากExด้านบน 
        grid-column: col-start / col-start 3; */
    /*  grid-row: row-start 2 / row-start 4 */
    /* ทำช่อง1ให้มาอยู่แทนที่ช่อง5 โดยใช้คำสั่งชื่อ */
    grid-column-start: col-2-start;
    grid-column-end: col-3-start;
    grid-row-start: row-2-start;
    grid-row-end: row-2-end;
    /* shorthand ได้เหมือนกัน */
}

.grid-container-area {
    display: grid;
    /* เราสามารถกำหนดตำแหน่งแบบนี้ได้ */
    grid-template-areas: "header header"
                        " content sidebar"
                        " footer footer";
    grid-template-columns: 1fr 200px;
    /* header 150px     content sidebar  200px     footer footer  60px */
    grid-template-rows: 150px 200px 60px; 
    background: green;
    padding: 1em;
}
/* สามารถจัด layout แบบนี้ได้ */
.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.grid-area {
    border: 1px solid #ccc;
}


.grid-container-zindex {
    background: powderblue;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(2, 100px);
    padding: 1em;
}

.z1,
.z2 {
    grid-column-end: span 2;
    grid-row-start: 1;
}

.z1 {
    grid-column-start: 1;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.z2 {
    grid-column-start: 2;

}

/* จะเห็นได้ว่า คำสั่ง z1 z2 ทีาสั่งไป z2 จะอยู่หลัง z1 */

/* Grid Box-Alignment */

.grid-container-align {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px;
    grid-template-areas: "content content"
                        "content content";
    /* สามารถใช้คำสั่ง justify-content, align-item เพื่อกำหนดตำแหน่งได้ */
    background: chartreuse;
    padding: 1em;
}


.align1 {
    /* ด้านบนเรากำหนดตำแหน่ง content 4ช่อง พอตรงนี้เราใส่content มันก็จะกินพื้นที่ทั้งหมด */
    grid-area: content;
}




























